 * {
   font-size: 1.2rem;
 }

body {
   margin: 0;
   padding: 0;
}

 .top-container {
   overflow: auto;
   display: grid;
   grid-template-columns: 1fr 5fr 1fr;
   background-color: blue;
   height: 100vh;
 }

 .header {
   background-color: white;
   /* height: 50px; */
   grid-column: 2/4;
}

.left-sidebar {
   background-color: steelblue;
   width: 100%;
   grid-column: 1/2;
   grid-row: 1/3;
}

.projects {
   background-color: aquamarine;
   grid-column: 2/3;
}

.right-sidebar {
   background-color: blueviolet;
   width: 100%;
   grid-column: 3/4;
}