 
 @import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 
 * {
   font-size: 1.2rem;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

:root {
   --bg-color: #eef2f7;
   --face-color: #ffb400;
   --side-color: #1e88c7;
   --para-color: #555555;
}

body {
   font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin: 0;
   padding: 0;
   background-color: var(--bg-color);
}
p {
   color: var(--para-color);
}
 .top-container {
   overflow: auto;
   display: grid;
   grid-template-columns: 1fr 3fr 1fr;
   height: 100vh;
   width: 100vw;
 }

 .header {
   background-color: white;
   
   padding: 1rem 2rem 1rem 1rem;
   margin-left: 0.5rem;
   
   grid-column: 2/4;
   box-shadow: 0 2px 2px -2px rgb(0, 0, 0, 0.6);
   
}

/* Top Searchbar and profile notification */
.navigation-bar {
   display: grid;
   grid-template: 1fr / 3fr 1fr;
}

.search-icon {
   width: 30px;
   height: 32px;
   margin-left: 0.4rem;
}

#searchbar {
   margin-top: 4px;
   display: flex;
   align-items: center;
   gap: 0.5rem;
}

#notification-profile {
   display: flex;
   align-items: center;
   justify-content: center;
   justify-self: end;
   gap: 0.5rem;
}

.not-icon {
   width: 30px;
   height: 30px;
}

.profile-face {
   width: 40px;
   height: 45px;
   fill: var(--face-color);
}

#search-input {
   border: none;
   /* outline: none; */
   background-color: var(--bg-color);
   border-radius: 1rem;
   padding: 0.1rem 0.8rem;
   width: 60%;
}

input[type="text"]:focus  {
   outline-color: var(--side-color);
}
/* ---Top Menubar and links section--- */
#menubar {
   display: flex;
   justify-content: space-between;
   margin-top: 0.5rem;
}

.admin-name {
   display: flex;
   align-items: center;
}

.profile-face-lg {
   width: 70px;
   height: 70px;
   fill: var(--face-color);
}

.name-text {
   margin-left: 4px;
}

.name-text>h1 {
   color: black;
}

.menus {
   margin-top: 0.25rem;
   display: flex;
   align-items: center;
}

.menus>ul {
   display: flex;
   gap: 4px 1.5rem;
   justify-content: center;
}

li {
   list-style: none;
}

.menus a {
   text-decoration: none;
   border-radius: 0.8rem;
   background-color: var(--side-color);
   color: white;
   font-size: 1.1rem;
   padding: 0.25rem 0.5rem;
  
   width: 4rem;
   display: flex;
   justify-content: center;
}

.menus a:hover {
   opacity: 0.7;
   transform: scale(1.08);
}
/* -----left Sidebar, Dashboard action section ----*/
.left-sidebar {
   background: #1e88c7;
   padding-left: 0.5rem;
   width: 100%;
   grid-column: 1/2;
   grid-row: 1/3;
}

#left-menus {
   margin-top: 1.5rem;
}

.svg-items a, h1 {
   text-decoration: none;
   color: white;
}

.svg-items {
   display: flex ;
   gap: 0.6rem;
   align-items: center;
   margin-top: 0.3rem;
}

.svg-items a:hover {
   color: var(--face-color);
}

.icons {
   width: 30px;
   height: 35px;
   
   stroke: white;
   fill: white;
}

.privacy-icon {
   fill: none;
}


/* ----Main menu section---Projects--- */
.projects {
   
   grid-column: 2/3;
   margin-left: 0.5rem;
   padding: 1rem 0.75rem;
}

.projects h1 {
   color: black;
}

#cards {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 15px;
   margin-top: 0.5rem;
}

.card {
   display: flex;
   flex-direction: column;
   padding: 2rem 1rem;
   gap: 1rem;
   background-color: white;
   border-left:6px solid #ffb400;
   border-radius:8px;
   box-shadow:0 4px 10px rgba(0,0,0,0.05);
}

.project-icons {
   display: flex;
   justify-content: end;
   gap: 1rem;
}

.project-svg {
   width: 35px;
   height: 35px;
}
/* ---Right sidebar Annoncement and trending section */
.right-sidebar {
   padding: 1rem 0.5rem 1rem 0;
   /* width: 100%; */
   grid-column: 3/4;
   gap: 0.5rem;
}

.right-sidebar h1 {
   color: black;
}

.announcements {
   background: white;
   border-radius: 1rem;
   display: flex;
   flex-direction: column;
   /* gap: 0.5rem; */
   padding: 1rem 1rem;
   margin-top: 0.5rem;
}

.announce p {
   font-size: 0.8em;
}

.announce {
   padding: 0.8rem 0;
   box-shadow: 0 2px 2px -2px rgb(0, 0, 0, 0.6);
}

/* ----Trendings Section */

.trending-items {
   background: white;
   border-radius: 0.8rem;
   display: flex;
   flex-direction: column;
   /* gap: 0.5rem; */
   padding: 0 0.5rem;
}

.item {
   display: flex;
   gap: 0.5rem;
   align-items: center;
   padding: 1rem 0.5rem 0 0;
}

.item-texts h5 {
   font-size: 1rem;
}

.item-texts p {
   font-size: 0.8rem;
}

.trending-svg {
   width: 50px;
   height: 50px;
}